/**
 * ----------------------------------------
 * Sprites
 * ----------------------------------------
 */

/**
 * test @96dpi | 1.00x
 * ----------------------------------------
 */
.s_test_ram,
.s_test_ram_red,
.s_test{
   background-repeat: no-repeat;
   background-image: url('../images/sprite_test.png');
}
.s_test_ram{
    background-position: -0px -0px;
    width: 150px;
    height: 175px;
}
.s_test_ram_red{
    background-position: -150px -0px;
    width: 150px;
    height: 175px;
}
/**
 * test @ 192dpi | 2.00x
 * ----------------------------------------
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2.00), only screen and (min--moz-device-pixel-ratio: 2.00), only screen and (-o-min-device-pixel-ratio: 2.00/1), only screen and (min-device-pixel-ratio: 2.00), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .s_test_ram,
    .s_test_ram_red,
    .s_test{
       background-repeat: no-repeat;
       background-image: url('../images/sprite_test_2x.png');
       background-size: 300px 175px;
    }
    .s_test_ram{
        background-position: -0px -0px;
    }
    .s_test_ram_red{
        background-position: -150px -0px;
    }
}

